 /* @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300"); */

 
 body{  
    background:url("../assets/images/vintage-concrete.png");
background-repeat: no repeat;
background-size :cover;
}
  

.container {
 
 margin: 0 auto;
  text-align: center;
  
        }


h1 {
  font-size: 80px;
}

      
.gamePad{
  margin: 0 auto;
  margin-top :170px;
  border: solid 10px black;
  width: 640px;
  height: 640px;
  border-radius: 310px;
  background-clip: content-box;
  
}

     
  .button{
  margin: 0 auto;
 float: left;
  position : static;
  width: 300px;
  height: 300px;
  z-index: auto;
  border:6px solid black;
}

.blue {
    background-color:rgb(26, 0, 170);
    -moz-border-radius: 320px 0 0 0;
    border-radius: 320px 0 0 0;    
}

.blue-active {
  background-color: rgb(0, 2, 100) !important;
}

.yellow {
  background-color: yellow;
  -moz-border-radius: 0 320px 0 0;
  border-radius: 0 320px 0 0;
}


.yellow-active {
  background-color: #e6d47e !important;
}

.green {
  background-color: green;
  -moz-border-radius: 0 0 320px 0;
  border-radius: 0 0 320px 0;
  
}

.green.active {
  background-color: green!important;

}
.orange {
  background-color: orange;
  -moz-border-radius: 0 0 320px 0;
  border-radius: 0 0 320px 0;
}

.orange-active {
  background-color: orange !important;
}


.game-controller {
  border: 10px solid black;
  height: 300px;
  width: 300px;
  border-radius: 140px;
  background-color: gray;
  clear: both;
  position: absolute;
  z-index: 0;
  margin-top: 180px;
  margin-left: 180px;
  
}

.title {
  font-size: 45px;
  margin-top: 45px;
  margin-bottom:  30px;
  font-weight: 900;
}

.inline {
  display: inline-block;
  vertical-align: middle;
}

.display {  
  border: solid 2px black;
  border-radius: 30px;
  color: white;
  width:60px;
  height:45px;
  font-size: 40px;
  background-color: #3b2632;
}

.start, .strict {
  text-align: center;
  margin: 0 auto;
  margin-left: 20px;
  border: solid 3px black;
  width:55px;
  height: 55px;
  border-radius:30px;
  color: black;
  line-height: 55px;
}

.start {  
  background-color: rgb(223, 57, 57);
}

 .strict {
  background-color: rgb(206, 206, 41);
}

.switch-container {
  margin-top: 10px;
}

.outter-switch {
  border: solid 2px black;
  width:40px;
  height: 25px;
  background-color: black;  
}

.outter-active {
  background-color: black !important;
}

.inner-switch {
  background-color: whitesmoke;
  width: 30px;
  height: 25px;
  position: relative !important;
}

.inner-inactive {
  background-color: black !important;
}

